# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints
tests/*.ipynb

data/
data
.vscode
.idea

# custom
*.pkl
*.pkl.json
*.log.json
work_dirs/
raw_data/
yolo_workdirs/
tests/
label_studio/
config/
# Pytorch
*.py~
*.sh~

phenocv.code-workspace
.fleet/

# label studio
/label_anything/sam/[0-9]*/
datasets
runs/
