# Byte-compiled / optimized / DLL files
__pycache__/

*.egg-info/
*.egg
rawdata

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
notebook/

data/
data
.vscode
.idea

# custom
*.pkl
*.pkl.json
*.log.json
work_dirs/
raw_data/
yolo_workdirs/
tests/
label_studio/

# Pytorch
*.pth
*.py~
*.sh~
*.pt
phenocv.code-workspace
.fleet/
