boto3
botocore
Jinja2
label_studio_converter
label_studio_ml
label_studio_tools
numpy
opencv_python
pandas
pycocotools
sahi
scikit_learn
segment_anything
segment_anything_hq
setuptools
timm
torch
torchvision
tqdm
ultralytics
